<% include ../partials/header %>

<div class='container-fluid'>
    <div class='container-fluid content-row text-center' style='display: flex; flex-wrap: wrap'>
        <% events.forEach(async(event) => { %>
        <div class='col-lg-6 col-md-6 col-sm-6 mb-4'>
            <div class="card h-100">
                <img src="<%= event.image %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= event.name %></h5>
                    <p class="card-text"><%= event.description.substring(0, 100); %>. . .</p>
                    <a href="/events/<%= event._id %>" class="btn btn-primary">More info</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    <nav aria-label="Page navigation">
        <% if (pages && pages > 0) { %>
        <ul class="pagination justify-content-center">
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
            <li><a class="page-link" href="/events">First</a></li>
            <% } %>
            <% if (current == 1) { %>
            <li class="page-item disabled"><a class="page-link">«</a></li>
            <% } else { %>
            <li><a class="page-link" href="/events?page=<%= Number(current) - 1 %>">«</a></li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
            <% if (i == current) { %>
            <li class="active"><a class="page-link"><%= i %></a></li>
            <% } else { %>
            <li><a class="page-link" href="/events?page=<%= i %>"><%= i %></a></li>
            <% } %>
            <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% } %>
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">»</a></li>
            <% } else { %>
            <li><a class="page-link" href="/events?page=<%= Number(current) + 1 %>">»</a></li>
            <% } %>
            <% if (current == pages) { %>
            <li class="page-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
            <li><a class="page-link" href="/events?page=<%= pages %>">Last</a></li>
            <% } %>
        </ul>
        <% } %>
    </nav>
</div>

<% include ../partials/footer %>