<% include ./index %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <h2>Pending User</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Username</th>
                    <th>Full Name</th>
                    <th>Spesialisasi</th>
                    <th>isAhli</th>
                    <th class='text-center'>Action</th>
                </tr>
            </thead>
            <tbody>
                <% var i = 1%>
                <% users.forEach((user) => { %>
                <tr>
                    <td><%= i++ %></td>
                    <td><%= user.username%></td>
                    <td><%= user.fullName%></td>
                    <td><%= user.spesialisasi%></td>
                    <td><%= user.isAhli %></td>
                    <td class='text-center'>
                        <form action="/pendingUsers/<%= user._id %>?_method=PUT" method="POST">
                            <input name='isAhli' type="submit" class="btn btn-success btn-sm" value='Upgrade <%= user._id %> to Ahli'>
                        </form>
                        <form action="/pendingUsers/<%= user._id %>?_method=DELETE" method="POST">
                            <input type="submit" class="btn btn-danger btn-sm" value='Delete User'>
                        </form>
                    </td>

                </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</main>
</div>
</div>

<% include ../partials/footer %>